#OS junk files
[Tt]humbs.db
*.DS_Store

#Visual Studio files
*.[Oo]bj
*.user
*.aps
*.pch
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.[Cc]ache
*.ilk
*.log
*.lib
*.sbr
*.sdf
*.opensdf
*.unsuccessfulbuild
ipch/
obj/
[Bb]in
[Dd]ebug*/
[Rr]elease*/
Ankh.NoLoad

#MonoDevelop
*.pidb
*.userprefs

#Tooling
_ReSharper*/
*.resharper
*.sass-cache

#Project files

#Subversion files
.svn

# Office Temp Files
~$*

#NuGet
packages/

#ncrunch
*ncrunch*

#Eclipse files
*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath


#Intellij files
/.idea/**
.idea/
hp-application-automation-tools-plugin.iml

#Visual studio 14 files
HpToolsLauncher/.vs/
HpToolsLauncher/Service References/

#Binaries
src/main/resources/HpToolsAborter.exe.config
src/main/resources/HpToolsAborter.exe
src/main/resources/HpToolsAborter.pdb
src/main/resources/HpToolsLauncher.exe.config
src/main/resources/HpToolsLauncher.exe
src/main/resources/HpToolsLauncher.pdb
src/main/resources/HpToolsLauncher.vshost.exe
src/main/resources/HpToolsLauncher.vshost.exe.config
src/main/resources/LRAnalysisLauncher.exe.config
src/main/resources/LRAnalysisLauncher.pdb
src/main/resources/LRAnalysisLauncher.exe


# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath


#  Intellij specific
.iml
target/
.idea/

# java script
node/
node_modules/
/hp-application-automation-tools-plugin.iml
/node/
/node_modules/
.sonarlint/

# jenkins instance folder generated by mvn run:hpi
work/
