<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~     Copyright 2017 EntIT Software LLC, a Micro Focus company, L.P.
  ~     Licensed under the Apache License, Version 2.0 (the "License");
  ~     you may not use this file except in compliance with the License.
  ~     You may obtain a copy of the License at
  ~
  ~       http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~     Unless required by applicable law or agreed to in writing, software
  ~     distributed under the License is distributed on an "AS IS" BASIS,
  ~     WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~     See the License for the specific language governing permissions and
  ~     limitations under the License.
  ~
  -->

<Configuration status="INFO">

	<Properties>
		<Property name="pattern">%d{dd/MM/yyyy HH:mm:ss,SSS} %-5p [%t] - %c{1}: %m%n</Property>
	</Properties>

	<Appenders>

		<RollingFile name="octaneFileAppender" append="true" fileName="${sys:octaneAllowedStorage:-}nga/logs/nga.log"
					 filePattern="${sys:octaneAllowedStorage:-}nga/logs/nga-%i.log">
			<PatternLayout pattern="${pattern}"/>
			<Policies>
				<SizeBasedTriggeringPolicy size="2MB"/>
			</Policies>
			<DefaultRolloverStrategy max="10"/>
		</RollingFile>
		<Async name="asyncOctaneFileAppender">
			<AppenderRef ref="octaneFileAppender"/>
		</Async>

		<Console name="octaneConsoleAppender" target="SYSTEM_OUT">
			<PatternLayout pattern="${pattern}"/>
		</Console>

	</Appenders>

	<Loggers>
		<Root level="info" additivity="true">
			<AppenderRef ref="asyncOctaneFileAppender"/>
		</Root>
	</Loggers>

</Configuration>