/*
 *
 *  Certain versions of software and/or documents (“Material”) accessible here may contain branding from
 *  Hewlett-Packard Company (now HP Inc.) and Hewlett Packard Enterprise Company.  As of September 1, 2017,
 *  the Material is now offered by Micro Focus, a separately owned and operated company.  Any reference to the HP
 *  and Hewlett Packard Enterprise/HPE marks is historical in nature, and the HP and Hewlett Packard Enterprise/HPE
 *  marks are the property of their respective owners.
 * __________________________________________________________________
 * MIT License
 *
 * © Copyright 2012-2018 Micro Focus or one of its affiliates.
 *
 * The only warranties for products and services of Micro Focus and its affiliates
 * and licensors (“Micro Focus”) are set forth in the express warranty statements
 * accompanying such products and services. Nothing herein should be construed as
 * constituting an additional warranty. Micro Focus shall not be liable for technical
 * or editorial errors or omissions contained herein.
 * The information contained herein is subject to change without notice.
 * ___________________________________________________________________
 *
 */


.hl_qt  { color: white; font-size: 24pt; font-family: Metric; background-color: #666; text-align: center; padding: 0px 3px 3px }
.hl0
{ color: #999; font-weight: bold; font-size: 18pt; font-family: Metric; text-align: center; padding: 2px 3px; border-bottom: 3px dotted #999 }
.hl0_name { color: #999; font-weight: normal; font-size: 18pt; font-family: Metric; text-align: center; padding: 2px 3px; border-bottom: 3px dotted #999 }
.hl1
{
    COLOR: #669;
    FONT-FAMILY: Metric;
    FONT-SIZE: 16pt;
    FONT-WEIGHT: bold
}
.hl2
{
    COLOR: #669;
    FONT-FAMILY: Metric;
    FONT-SIZE: 13pt;
    FONT-WEIGHT: bold
}
.hl3 { color: #666; font-weight: bold; font-size: 10pt; font-family: Metric; height: 28px }
.hl1name
{
    COLOR: #669;
    FONT-FAMILY: Metric;
    FONT-SIZE: 16pt;
    FONT-WEIGHT: normal
}
.bg_yellow
{
    BACKGROUND-COLOR: #fc0
}
.bg_gray_eee
{
    BACKGROUND-COLOR: #eee
}
.bg_gray_ccc { background-color: #ccc }
.bg_gray_999 { background-color: #999 }
.bg_midblue
{
    BACKGROUND-COLOR: #99c
}
.bg_ligtblue
{
    BACKGROUND-COLOR: #ccf
}
.bg_darkblue
{
    BACKGROUND-COLOR: #669
}
.text
{ font-size: 10pt; font-family: Metric }
.text_small
{
    FONT-FAMILY: Metric;
    FONT-SIZE: 8pt
}
.text_pitzi
{
    FONT-FAMILY: Metric;
    FONT-SIZE: 6.5pt
}
.text_bold
{
    FONT-FAMILY: Metric;
    FONT-WEIGHT: bold
}


.Failed
{
    COLOR: #f03;
    FONT-FAMILY: Metric;
    FONT-SIZE: 10pt;
    FONT-WEIGHT: bold
}
.FailedLow
{
    COLOR: #f03;
    FONT-FAMILY: Metric;
    FONT-SIZE: 10pt;
}

.FailedHigh
{
    COLOR: #f03;
    FONT-FAMILY: Metric;
    FONT-SIZE: 16pt;
    FONT-WEIGHT: bold
}
.Passed
{
    COLOR: #096;
    FONT-FAMILY: Metric;
    FONT-SIZE: 10pt;
    FONT-WEIGHT: bold
}
.PassedHigh
{
    COLOR: #096;
    FONT-FAMILY: Metric;
    FONT-SIZE: 16pt;
    FONT-WEIGHT: bold
}

.Done
{
    COLOR: #999;
    FONT-FAMILY: Metric;
    FONT-SIZE: 10pt;
    FONT-WEIGHT: bold
}
.DoneHigh
{ color: #999; font-weight: bold; font-size: 16pt; font-family: Metric }
.Information
{
    COLOR: #999;
    FONT-FAMILY: Metric;
    FONT-SIZE: 10pt;
    FONT-WEIGHT: bold
}
.InformationHigh
{
    COLOR: #999;
    FONT-FAMILY: Metric;
    FONT-SIZE: 16pt;
    FONT-WEIGHT: bold
}
.Warning
{
    COLOR: #f96;
    FONT-FAMILY: Metric;
    FONT-SIZE: 10pt;
    FONT-WEIGHT: bold
}
.WarningHigh
{
    COLOR: #f96;
    FONT-FAMILY: Metric;
    FONT-SIZE: 16pt;
    FONT-WEIGHT: bold
}
.tablehl
{
    BACKGROUND-COLOR: #eee;
    COLOR: #669;
    FONT-FAMILY: Metric;
    FONT-SIZE: 10pt;
    FONT-WEIGHT: bold;
    LINE-HEIGHT: 14pt
}
A
{
    COLOR: #33f;
    FONT-FAMILY: Metric
}
A:hover
{
    COLOR: #f03;
    FONT-FAMILY: Metric;
    FONT-WEIGHT: bold
}
.Condition
{
    COLOR: #333399;
    FONT-FAMILY: Metric, sans-serif;
    FONT-SIZE: 10pt;
    FONT-WEIGHT: bold
}
body {
    font-family: Metric, monospace }


.tooltiptitle{COLOR: #FFFFFF; TEXT-DECORATION: none; CURSOR: Default; font-family: arial; font-weight: bold; font-size: 8pt}
.tooltipcontent{COLOR: #000000; TEXT-DECORATION: none; CURSOR: Default; font-family: arial; font-size: 8pt}

#ToolTip{position:absolute; width: 100px; top: 0px; left: 0px; z-index:4; visibility:hidden;}
.brake { font-size: 1px; font-family: Metric; background-color: #366; border-top: 15px solid white; border-bottom: 15px solid white; width: 100%; height: 35px }
.iteration_border { padding-top: 5px; padding-bottom: 5px; padding-left: 10px; border-top: 3px solid #999; border-bottom: 3px solid #999; border-left: 3px solid #999 }
.iteration_head { color: white; font-weight: bold; font-size: 12px; font-family: Metric; background-color: #999; text-align: center; padding: 3px 3px 1px }
.action_border  { padding-top: 5px; padding-bottom: 5px; padding-left: 10px; border-top: 3px solid #ccc; border-bottom: 3px solid #ccc; border-left: 3px solid #ccc }
.action_head  { color: black; font-weight: bold; font-size: 12px; font-family: Metric; background-color: #ccc; text-align: center; padding: 3px 3px 1px }
.table_frame { padding: 3px; border: solid 1px #669 }
.table_hl   { color: #669; font-weight: bold; font-size: 10pt; line-height: 14pt; font-family: Metric; padding-right: 2px; padding-left: 2px; border-top: 1px solid #669; border-bottom: 1px solid #669 }
.table_cell  { vertical-align: top; padding: 3px; border-bottom: 1px solid #eee; overflow: visible }
p { font-size: 8pt; font-family: Metric }
td { font-size: 8pt; font-family: Metric }
ul { font-size: 8pt; font-family: Metric }
