*.class

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs
hs_err_pid*

.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath

# Eclipse Core
.project

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# JDT-specific (Eclipse Java Development Tools)
.classpath

# Java annotation processor (APT)
.factorypath


# sbteclipse plugin
.target

# Tern plugin
.tern-project

# TeXlipse plugin
.texlipse


# Code Recommenders
.recommenders/

.gradle
build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# gradle/wrapper/gradle-wrapper.properties

