<!--
  ~
  ~  Certain versions of software and/or documents (“Material”) accessible here may contain branding from
  ~  Hewlett-Packard Company (now HP Inc.) and Hewlett Packard Enterprise Company.  As of September 1, 2017,
  ~  the Material is now offered by Micro Focus, a separately owned and operated company.  Any reference to the HP
  ~  and Hewlett Packard Enterprise/HPE marks is historical in nature, and the HP and Hewlett Packard Enterprise/HPE
  ~  marks are the property of their respective owners.
  ~ __________________________________________________________________
  ~ MIT License
  ~
  ~ © Copyright 2012-2018 Micro Focus or one of its affiliates.
  ~
  ~ The only warranties for products and services of Micro Focus and its affiliates
  ~ and licensors (“Micro Focus”) are set forth in the express warranty statements
  ~ accompanying such products and services. Nothing herein should be construed as
  ~ constituting an additional warranty. Micro Focus shall not be liable for technical
  ~ or editorial errors or omissions contained herein.
  ~ The information contained herein is subject to change without notice.
  ~ ___________________________________________________________________
  ~
  -->

<settings>
  <!--<proxies>-->
    <!--<proxy>-->
      <!--<id>optional</id>-->
      <!--<active>true</active>-->
      <!--<protocol>http</protocol>-->
      <!--<username>proxyuser</username>-->
      <!--<password>proxypass</password>-->
      <!--<host>web-proxy.il.hpecorp.net</host>-->
      <!--<port>8080</port>-->
      <!--<nonProxyHosts>local.net|some.host.com</nonProxyHosts>-->
    <!--</proxy>-->
  <!--</proxies>-->

  <!--<mirrors>-->
    <!--<mirror>-->
      <!--<id>nexus</id>-->
      <!--<mirrorOf>external:*</mirrorOf>-->
      <!--<url>http://mydtbld0051.hpeswlab.net:8081/nexus/content/groups/mqm-public</url>-->
    <!--</mirror>-->
   	<!--<mirror>-->
      <!--<id>repo.jenkins-ci.org</id>-->
      <!--<url>http://repo.jenkins-ci.org/public/</url>-->
      <!--<mirrorOf>m.g.o-public</mirrorOf>-->
    <!--</mirror>-->
  <!--</mirrors>-->
  <!---->
  <!--<profiles>  -->
    <!--<profile>-->
      <!--<id>nexus</id>-->
      <!--<repositories>-->
        <!--<repository>-->
          <!--<id>nexus</id>-->
          <!--<url>http://arbitraryUrl</url>-->
          <!--<releases><enabled>true</enabled></releases>-->
          <!--<snapshots><enabled>true</enabled></snapshots>-->
        <!--</repository>-->
      <!--</repositories>-->
     <!--<pluginRepositories>-->
        <!--<pluginRepository>-->
          <!--<id>nexus</id>-->
          <!--<url>http://arbitraryUrl</url>-->
          <!--<releases><enabled>true</enabled></releases>-->
          <!--<snapshots><enabled>true</enabled></snapshots>-->
        <!--</pluginRepository>-->
      <!--</pluginRepositories>-->
    <!--</profile>-->
	<!---->
	<!--<profile>-->
	  <!--<id>jenkins</id>-->
      <!--<activation>-->
        <!--<activeByDefault>true</activeByDefault>-->
      <!--</activation>-->
      <!--<repositories>-->
        <!--<repository>-->
          <!--<id>repo.jenkins-ci.org</id>-->
          <!--<url>http://repo.jenkins-ci.org/public/</url>-->
          <!--<releases><enabled>true</enabled></releases>-->
          <!--<snapshots><enabled>true</enabled></snapshots>-->
       <!--</repository>-->
      <!--</repositories>-->
      <!--<pluginRepositories>-->
        <!--<pluginRepository>-->
          <!--<id>repo.jenkins-ci.org</id>-->
          <!--<url>http://repo.jenkins-ci.org/public/</url>-->
          <!--<releases><enabled>true</enabled></releases>-->
          <!--<snapshots><enabled>true</enabled></snapshots>-->
        <!--</pluginRepository>-->
      <!--</pluginRepositories>-->
    <!--</profile>-->
	<!---->
	<!--<profile>-->
      <!--<id>hudson</id>-->
      <!--<activation>-->
        <!--<activeByDefault>true</activeByDefault>-->
      <!--</activation>-->
      <!--<repositories>-->
      <!--</repositories>-->
      <!--<pluginRepositories>-->
      <!--</pluginRepositories>-->
    <!--</profile>-->
	<!---->
	<!--<profile>-->
      <!--<id>teamcity</id>-->
      <!--<activation>-->
        <!--<activeByDefault>true</activeByDefault>-->
      <!--</activation>-->
      <!--<repositories>-->
	    <!--<repository>-->
          <!--<id>jetbrains-all</id>-->
          <!--<url>http://repository.jetbrains.com/all</url>-->
        <!--</repository>-->
      <!--</repositories>-->
      <!--<pluginRepositories>-->
      <!--</pluginRepositories>-->
    <!--</profile>-->
  <!--</profiles>-->
  <!---->
  <!--<activeProfiles>-->
    <!--&lt;!&ndash;make the profile active all the time &ndash;&gt;-->
    <!--<activeProfile>nexus</activeProfile>-->
    <!--<activeProfile>jenkins</activeProfile>-->
    <!--<activeProfile>teamcity</activeProfile>-->
  <!--</activeProfiles>-->
  <!---->
 <!--<pluginGroups>-->
  <!--<pluginGroup>com.atlassian.maven.plugins</pluginGroup>-->
  <!--<pluginGroup>org.mortbay.jetty</pluginGroup>-->
  <!--<pluginGroup>org.jenkins-ci.tools</pluginGroup>-->
  <!--<pluginGroup>com.hp.mqm.plugins</pluginGroup>-->
<!--</pluginGroups>-->
</settings>
