#testsTable {
    border: 1px;
    width: 85%;
}

.testsDropDown {
    margin-left: 20px;
}


#testsDropDown {
    width: 85%;
}

#clearBtn {
    background-image: url("${rootURL}/plugin/hp-application-automation-tools-plugin/icons/uft_icons/eraser.png");
    background-size: 18px;
    width: 20px;
    margin-left: 20px;
    visibility: hidden;
}

#cleanupTestInput {
    width: 250px;
    margin-left: 10px;
}

#cleanupTestList {
    margin-left: 20px;
}

#copyPasteBtn {
    background-image: url("${rootURL}/plugin/hp-application-automation-tools-plugin/icons/uft_icons/copy_paste.png");
    background-size: 45px;
    width: 50px;
    height: 28px;
    margin-left: 10px;
    visibility: hidden;
}

td.help-text {
    padding-left: 15px;
}

#cb27 {
    margin-left: 35px;
}

table tr td div.help {
    margin-left: 12px;
    background: none !important;
    border: none !important;
}

.help {
    border: none !important;
    background: none !important;
    background-color: transparent;
}

table td.help {
    background: none !important;
}

table tr[nameref^="rowSetStart"] {
    background: none !important;
}

textarea.setting-input{
    resize: vertical;
}