/*
 *
 *  Certain versions of software and/or documents (“Material”) accessible here may contain branding from
 *  Hewlett-Packard Company (now HP Inc.) and Hewlett Packard Enterprise Company.  As of September 1, 2017,
 *  the Material is now offered by Micro Focus, a separately owned and operated company.  Any reference to the HP
 *  and Hewlett Packard Enterprise/HPE marks is historical in nature, and the HP and Hewlett Packard Enterprise/HPE
 *  marks are the property of their respective owners.
 * __________________________________________________________________
 * MIT License
 *
 * © Copyright 2012-2018 Micro Focus or one of its affiliates.
 *
 * The only warranties for products and services of Micro Focus and its affiliates
 * and licensors (“Micro Focus”) are set forth in the express warranty statements
 * accompanying such products and services. Nothing herein should be construed as
 * constituting an additional warranty. Micro Focus shall not be liable for technical
 * or editorial errors or omissions contained herein.
 * The information contained herein is subject to change without notice.
 * ___________________________________________________________________
 *
 */

.st-table {
    margin-top: 20px;
    border: 1px solid #cecece;
    height: 100%;
    width: 100%;
    border-collapse: collapse;
    font-family: "Lucida Console", Courier, monospace;
    padding: 0px;
}

.st-table-head {
    padding: 30px;
}

.st-table-row {
    border-collapse: collapse;
    vertical-align: center;
    font-family: "Lucida Console", Courier, monospace;
}

.st-stats {
    overflow-x: auto;
}

.st-table-header {
    text-align: center;
    height: 20px;
    border-collapse: collapse;
    border-right: 1px solid #cecece;
    padding: 10px 10px 0;
}

.st-table-cell {
    height: 40px;
    text-align: center;
    vertical-align: middle;
    border-collapse: collapse;
    border-right: 1px solid #cecece;
    font-family: "Lucida Console", Courier, monospace;
    font-size: 24px;
    padding: 8px;
    color: #757575;
}

.st-table-inner-cell {
    height: 40px;
    text-align: center;
    vertical-align: middle;
    font-family: "Lucida Console", Courier, monospace;
    font-size: 24px;
    padding: 8px;
    color: #757575;
}

.ct-axis-title-y {
    word-wrap: break-word;
    transform: rotate(0deg);
    /* Safari */
    -webkit-transform: rotate(0deg);
    /* Firefox */
    -moz-transform: rotate(0deg);
    /* IE */
    -ms-transform: rotate(0deg);
    /* Opera */
    -o-transform: rotate(0deg);
    /* Internet Explorer */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    font-family: Lucida Sans Unicode;
    color: #666666;
    font-size: 15px; /* Approximation due to font substitution */
    font-weight: 400;
    line-height: 17px; /* Approximation due to font substitution */
    text-align: left;
}

.ct-axis-title {
    font-family: Lucida Sans Unicode;
    color: #666666;
    font-size: 15px; /* Approximation due to font substitution */
    font-weight: 400;
    line-height: 17px; /* Approximation due to font substitution */
    text-align: left;
}

.st-dropdown {
    border-width: 1px;
    border-color: #cccccc;
    border-style: solid;
    background-color: #efefef;
    opacity: 0.5;
    height: 25px;
    margin-top: 15px;
    font-family: Lucida Sans Unicode;
    font-size: medium;

}

.ct-chartBox {
    /*padding-bottom: 10px;*/
    /*height: 600px;*/
    /*height: 400px;*/
    height: 600px;
    width: 1000px;
    margin-bottom: 50px;
    font-family: Lucida Sans Unicode;
}

.ct-chart-seprator {
    margin-bottom: 13px;
}

.ct-chart-title {
    font-family: Lucida Sans Unicode;
    color: #333333;
    font-size: 25px;
    text-align: left;
    font-style: normal;
}

.ct-chart-desc {
    font-family: Lucida Sans Unicode;
    color: #666666;
    font-size: 14px; /* Approximation due to font substitution */
    text-align: left;
    text-indent: 100px;
}

.ct-chart-desc-title {
    font-family: Lucida Sans Unicode;
    color: #333333;
    font-size: 14px; /* Approximation due to font substitution */
    text-align: left;
    font-weight: 600;
}

.pageTitle{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #01a982;
    font-size: 26px;
    letter-spacing: 0.5px;
    margin-bottom: 58px;
    word-spacing: 0px;
    margin-top: 20px;
    font-family: Lucida Sans Unicode;
    font-weight: 700;
}

#scenarioDropDown{
    margin-top: 15px;
    margin-bottom: 15px;
}