.st-table{
    margin-top: 20px;
    border: 1px solid #cecece;
    height: 100%;
    width: 100%;
    border-collapse: collapse;
    font-family: "Lucida Console", Courier, monospace;
    padding: 0px;
}

.st-table-head{
    padding: 30px;
}

.st-table-row{
    border-collapse: collapse;
    vertical-align: center;
    font-family: "Lucida Console", Courier, monospace;
}

.st-stats{
    overflow-x:auto;
}

.st-table-header{
    text-align: center;
    height: 20px;
    border-collapse: collapse;
    border-right: 1px solid #cecece;
    padding: 10px 10px 0;
}

.st-table-cell{
    height: 40px;
    text-align: center;
    vertical-align: middle;
    border-collapse: collapse;
    border-right: 1px solid #cecece;
    font-family: "Lucida Console", Courier, monospace;
    font-size: 24px;
    padding: 8px;
    color: #757575;
}

.st-table-inner-cell{
    height: 40px;
    text-align: center;
    vertical-align: middle;
    font-family: "Lucida Console", Courier, monospace;
    font-size: 24px;
    padding: 8px;
    color: #757575;
}

.ct-axis-title-y{
    word-wrap: break-word;
    textLength: 2;
    /* Safari */
    -webkit-transform: rotate(330deg);
    /* Firefox */
    -moz-transform: rotate(0deg);
    /* IE */
    -ms-transform: rotate(0deg);
    /* Opera */
    -o-transform: rotate(0deg);
    /* Internet Explorer */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);

}

.ct-axis-title .ct-axis-title-y{
    font-family: Metric;
    color: #666666;
    font-size: 15px;/* Approximation due to font substitution */
    font-weight: 400;
    line-height: 17px;/* Approximation due to font substitution */
    text-align: left;
}

.st-dropdown{
    border-width: 1px;
    border-color: #cccccc;
    border-style: solid;
    background-color: #efefef;
    opacity: 0.5;
    width: 219px;
    height: 20px;
}

.ct-chartBox{
    /*padding-bottom: 10px;*/
    /*height: 600px;*/
    /*height: 400px;*/
    height: 600px;
    width: 1000px;
}

.ct-chart-seprator {
    /*margin-top: 120px;*/
    position: relative;
}

.ct-chart-title{
    font-family: Metric;
    color: #333333;
    font-size: 25px;
    line-height: 70px;
    text-align: left;
    font-weight: 700;
}

.ct-chart-desc{
    font-family: Metric;
    color: #666666;
    font-size: 14px;/* Approximation due to font substitution */
    text-align: left;
    text-indent:100px;
}

.ct-chart-desc-title{
    font-family: Metric;
    color: #333333;
    font-size: 14px;/* Approximation due to font substitution */
    text-align: left;
    font-weight: 600;
}